<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev Hiring Challenge</title>

    <link rel="stylesheet" href="./styles/main.css" />
  </head>
  <body>
    <div>
      <h1>Repositórios em destaque no GitHub</h1>

      <form action="/" method="post">
        <button type="submit" name="button">Buscar</button>
      </form>

      <main>
        <h2>Detalhes do repositório</h2>
      </main>

      <footer>
        <p>Desenvolvido por Gabriel A. Rocha</p>
      </footer>
    </div>

    <script src="./scripts/main.js"></script>
  </body>
</html>
